#head{
    margin-left: 13cm;
    color:red;
}
#cyber{
    margin-left:.6cm;
}
#img{
    background-image: url("C:\Users\sarat\Downloads\CourseManagement (2)\CourseManagement\Frontend\images\pexels-pixabay-373543.jpg");
    background-size: 100%;
    background-size: cover;
} 

