
<div id="img">
  <h3 id="head"><br>Here is the discription about your course!!</h3> 
  <div class="row" style="border: 1px solid whitesmoke;background-color: whitesmoke;margin-top: 2em;margin-left: 1em;margin-right: 1em;">    
    <br>
    <div class="col-md-2 col-sm-3 text-center"><br>
      <a class="story-title" href="#"><img alt="" src="https://th.bing.com/th/id/OIP.1QG_mG3hlzJUyYOJkdWS1QHaC-?w=280&h=140&c=7&o=5&dpr=1.25&pid=1.7" style="width:325px;height:150px" class="img-circle"></a>
    </div>
    <div class="col-md-10 col-sm-9" id="cyber">
      <h4>Certified Cyber Security Analyst</h4>
      <div class="row">
        <div class="col-xs-9">
          <h4><span class="label label-default">Mentor:Sarath</span></h4><h4>
          <small style="font-family:courier,'new courier';" class="text-muted">• 6 Month Course</small>
          </h4><br>
          <p>This is one of trending courses that we are providing for learners who are interested in the Cyber Security field. An advanced practical skillset in defeating all online threats - advanced hackers, trackers, malware and all Internet nastiness including mitigating government spying and mass surveillance.
            Start a career in cyber security. Become a cyber security specialist.
            The very latest up-to-date information and methods.
            We cover operating system security, privacy, and patching - On Windows 7, Windows 8, Windows 10, MacOS and Linux.
            Explore the threat landscape - Darknets, dark markets, zero day vulnerabilities, exploit kits, malware, phishing and much more.
            You will master encryption in an easy to follow crash course.
            Go in-depth into security through physical and virtual isolation and compartmentalization. Covering sandboxes, application isolation, virtual machines, Whonix and Qubes OS.
            You will learn about nation state secret tracking and hacking infrastructure.
            A certificate of completion is available signed by the instructor Nathan House so CPE credits can be claimed. An off-site sign-up is required to provide your details for this optional certificate.
      <br><br><br><br><br><br><br>
  </p>
        <div class="col-xs-3"></div>
      </div>
      <br><br>
    </div>
  </div>
                                                                                           
