<div class="stud">
  <form >
    <h3 id="head"><br>We bring here the best courses for you!!</h3> 
    
      
      <button id="noti"type="submit" class="btn btn-primary" style="background-color:rgb(245, 13, 44);" routerLink="/profnoti">Notifications</button>
      <button id="add"type="submit" class="btn btn-primary" style="background-color: rgb(245, 13, 44); margin-top: .05cm;" routerLink="/addcourse">Add Courses</button>
  
    </form><br>
<!--area of courses starts here-->
    <div class="row"  *ngFor='let course of courses' style="border: 1px solid whitesmoke;background-color: whitesmoke;margin-top: 2em;margin-left: 1em;margin-right: 1em;">    
      <br>
      <div class="col-md-2 col-sm-3 text-center">
        <a class="story-title" href="#">
          <img  [src] = 'course.imageUrl'
          [style.width.px] = 'imageWidth'
          [style.height.px] = 'imageHeight'
          [style.margin.px] = 'imageMargin'></a>
  
      </div>
      <div class="col-md-10 col-sm-9" id="cyber">
        <h4>Title:{{course.title}}</h4></div>
        <div class="row">
          <div class="col-xs-9">
            <h4><span class="label label-default" style="margin-left: .6cm;">Mentor:{{course.mentor}}</span></h4><h4>
            <small style="font-family:courier,'new courier'; margin-left: .6cm;" class="text-muted"> Course Period:{{course.coursePeriod}}
              <a  class="text-muted"></a></small>
            </h4></div>
            <br><br>
            
          <div class="col-xs-3"></div>
        </div>
        <br><br>
      </div>
      
<br><br>


<!--area of student enroll starts here-->

<div class="row"  *ngFor='let enroll of enrolls' style="border: 1px solid whitesmoke;background-color: whitesmoke;margin-top: 2em;margin-left: 1em;margin-right: 1em;">    
  <br>
  <div class="col-md-5 col-sm-3 text-center" >
      
      <form action="/"><br>
        
     
   <h5 >
        Name:<span class="label label-default">{{enroll.name}}</span><br>
        Name of the Course:<span class="label label-default">{{enroll.nameofCourse}}</span><br>
        Email:<span class="label label-default">{{enroll.email}}</span><br>
        Phone No:<span class="label label-default">{{enroll.phoneNo}}</span><br>
        Institution Name:<span class="label label-default">{{enroll.institutionName}}</span><br>
     </h5><br>
      <button id="bt" type="submit" class="btn btn-primary"   style=" background-color: dodgerblue;color: white" routerLink="/accept">Accept</button>
      <button id="btn" type="submit" class="btn btn-primary"  style="  background-color: dodgerblue;color: white" 
      (click)="deleteStudent(enroll)" >Reject</button>
    </form><br>
        </div>
      </div>

    <br><br>
</div>
  