<div>
  <h3 id="head"><br>Here is the discription about your course!!</h3> 
  <div class="row" style="border: 1px solid whitesmoke;background-color: whitesmoke;margin-top: 2em;margin-left: 1em;margin-right: 1em;">    
    <br>
    <div class="col-md-2 col-sm-3 text-center">
      <a class="story-title" href="#"><img alt="" src="https://th.bing.com/th/id/OIP.CbJY2AuiaxS27dZ7bCYphAHaD8?w=296&h=180&c=7&o=5&dpr=1.25&pid=1.7" style="width:325px;height:150px" class="img-circle"></a>
    </div>
    <div class="col-md-10 col-sm-9" id="data">
      <h4 >Certified Specialist in Data Science</h4>
      <div class="row">
        <div class="col-xs-9">
          <h4><span class="label label-default">Mentor:Abhishek</span></h4><h4>
          <small style="font-family:courier,'new courier';" class="text-muted">• 4 Month Course
            </small>
          </h4><br>
          <p>
            Whether you are an amateur or a professional, Data Science courses with upGrad will equip you with the practical and theoretical knowledge required in order to become a successful Data Scientist. You will get to study about open source tools and libraries, Python, databases, SQL, data visualization, data analysis and machine learning. You will also learn what questions to ask when faced with data, draw inferences from it and then visualise it to effectively communicate your findings. With a focus on hands-on learning, you will also work on various projects and assignments in domains like e-commerce, finance, entertainment and many more.
         <br>
                       In the statistics domain, you’ll learn about probability, regression and inference, to name a few. Segments on machine learning will prepare you design algorithms that learn on their own. SQL and Hadoop will help you to deal with large volumes of data- access it, manipulate it and break it. Programming will help you put all of this into practice and derive the insights and results you want.
          </p>
        <div class="col-xs-3"></div>
      </div>
      <br><br>
    </div>
  </div>
</div>
</div>
