
#head{
    margin-left: 1cm;
    color: white;
    }
    
     #img{
    background-image: url("C:\Users\sarat\Downloads\CourseManagement (2)\CourseManagement\Frontend\images\pexels-karol-d-841228.jpg");
    background-size: 100%;
    background-size: cover;
} 

#noti{
    margin-left: 35cm;
}


