.prof{
     background-image: url("C:\Users\sarat\Downloads\CourseManagement (2)\CourseManagement\Frontend\images\pexels-karol-d-841228.jpg");
      background-size: 100%; 
      padding-right: 1cm;
      background-size: cover;    
  
      }
  
      .form-label{
        color: white;
      }
      .label{
        color: white;
      }
      .signup{
        color: white;
        margin-left: 7cm;
      }
      .form{
        margin-left: 4cm;
      }
      
      .col-2{
        margin-left:3cm;
      }
      #btn{
        margin-left: 4cm;
      }