*{
    margin: 0px;
    padding: 0px;
}

img{
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 1.5cm;
    height: 1.5cm;
}

.nav-item{
    float: left;
    margin-top: 15px;
    margin-right: 52px;
}

.head{
    
    font-family: "Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
    text-decoration:none;
    color: black;
    padding: 6px;
    padding-left: 10cm;
}
button{
    color: black;

}
.login{

    margin-left: 12cm;
}


