<div class="imag"><br><br><br><br>
<b style="font-size: xx-large;"><h1 style="color: white; margin-left: 12cm;">WE WOULD LIKE TO </h1>
   <h1 style="color: white; margin-left: 16cm;">HEAR FROM YOU</h1> </b>
   <p style="color: white; margin-left: 16cm;"> if you had any queries, keep in touch with us</p>
   <br>
   <br>
   <br>
   <br>
   <p style="margin-left: 9cm; color: white ;">If you have any doubts regarding the iLearn, about the services we are  providing throught the 
     platform  and for any <br></p>
      <p style="margin-left: 11cm; color: white;">suggestions that may help us in shaping our venture you can connect with our team at any time.</p> 
   

   
   <br>
   <br>
   <br>
   <h3 style="margin-left: 5cm; color: white;" ><img src="https://th.bing.com/th/id/OIP.r-7ZVxFyLhLSc2xx3U3srAHaFj?w=248&h=186&c=7&o=5&dpr=1.25&pid=1.7" alt="" width="50px" height="50px"> teamilearn@gmail.com</h3>
   <h3 style="margin-left: 5cm; color: white;"><img src="https://www.bing.com/th?id=AMMS_928a62c96ba821e882cb080907bbb897&w=148&h=148&c=7&o=6&dpr=1.25&pid=SANGAM" alt="" width="50px" height="50px">TeamiLearn767</h3>
   <h3 style="margin-left: 5cm; color: white;" > <img src="https://www.bing.com/th?id=AMMS_788e26bd78a3fc3f98b29935ac21c52d&w=148&h=148&c=7&o=6&dpr=1.25&pid=SANGAM" width="50px" height="50px" alt="">TeamiLearn767</h3>

</div>