.imag{
    background-image: url("C:\Users\sarat\Downloads\CourseManagement (2)\CourseManagement\Frontend\images\pexels-flickr-157040.jpg");
     background-size: 100%; 
     font-weight:100px;
       width:1518px; 
       height:700px;
   
   }
     