<div class="images">
<br><br>
    <h2 style="font-family:'Times New Roman', Times, serif; margin-left: 17cm;"> About Us </h2>
    <h2 style="margin-left: .5cm;">What is iLearn?</h2>
    <p style="margin-left: .5cm; margin-right: 0.5cm;">
        The iLearn is an educational platform for the enthhusiastic learners of this generataion. We provide many skill
        developing and informative courses on science and technology here. This should be an new experience for the leaners
         here. We developed this platform for making learning simple and an highly user friendly platform for the users.
        The professional mentors  from our side uploads different courses both  free and paid for you in iLearn. 
         <br>
         <h2 style="margin-left: .5cm;"> Our Story</h2>
         <p style="margin-left: .5cm; margin-right: 0.5cm;"> This is started as a small startup. Later we increased the quality of our services givn to our customers
             and i changed it to an e-learning platform called i-Learn. Now its reached as one of the good e-learning
             platforms that is very user friendly to the clients.
         </p>
        <h2 style="margin-left: .5cm;">Our Purpose</h2>

        <p style="margin-left: .5cm; margin-right: 0.5cm;">
            Our purpose is to purely give assistance to the youth in their skill developing. As a part of that we
            provides free as well as payed courses for their skill development. We provide high standred of educatio
            for our users.
        </p>

        <h2 style="margin-left: .5cm;">Who we are?</h2>
        <p style="margin-left: .5cm; margin-right: 0.5cm;">
            We’re firm believers in the power of Learning and Development and the power of sharing.As we continue to evolve, we strive to help our community with that same integrity and passion. Our focus is to improve the way our content is published and distributed. Our goal is to become even more efficient
             and user-friendly for our ever-growing community of iLearning members and partners. </p>
             <br>
             <h3 style="margin-left: .5cm;"> Wishing You Happy Learning..!!</h3>
            
        
         


    
</div>