.images{
    
        background-image: url("C:\Users\sarat\Downloads\CourseManagement (2)\CourseManagement\Frontend\images\pexels-gdtography-911738.jpg");
         background-size: 100%; 
        background-size:cover;
           height:700px;
       
       
}